<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        <header class="site-head">
            <div class="site-head-container">
                <a class="nav-burger" href="#">
                    <div class="hamburger hamburger--collapse" aria-label="Menu" role="button" aria-controls="navigation">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </a>
                <nav id="swup" class="site-head-left">
                    {{navigation}}
                </nav>
                <div class="site-head-center">
                    <a class="site-head-logo" href="{{@site.url}}">{{@site.title}}</a>
                </div>
                <div class="site-head-right">
                    <div class="social-links">
                        <a href="mailto:jinsol.yuk@outlook.com" id="nav-email" title="Email" class="social-links-link" target="_blank">
                            <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">
                                
                                <use class="SocialLinks-link-icon" xlink:href="#email-icon">
                                    <svg id="email-icon" viewBox="0 0 64 64">
                                        <path d="M17,22v20h30V22H17z M41.1,25L32,32.1L22.9,25H41.1z M20,39V26.6l12,9.3l12-9.3V39H20z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a>
                        <a href="https://www.instagram.com/sincerelyjinsol/" id="nav-instagram" title="Instagram" class="social-links-link" target="_blank">
                            <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">
                                <use class="SocialLinks-link-icon" xlink:href="#instagram-unauth-icon">
                                    <svg id="instagram-unauth-icon" viewBox="0 0 64 64">
                                        <path d="M46.91,25.816c-0.073-1.597-0.326-2.687-0.697-3.641c-0.383-0.986-0.896-1.823-1.73-2.657c-0.834-0.834-1.67-1.347-2.657-1.73c-0.954-0.371-2.045-0.624-3.641-0.697C36.585,17.017,36.074,17,32,17s-4.585,0.017-6.184,0.09c-1.597,0.073-2.687,0.326-3.641,0.697c-0.986,0.383-1.823,0.896-2.657,1.73c-0.834,0.834-1.347,1.67-1.73,2.657c-0.371,0.954-0.624,2.045-0.697,3.641C17.017,27.415,17,27.926,17,32c0,4.074,0.017,4.585,0.09,6.184c0.073,1.597,0.326,2.687,0.697,3.641c0.383,0.986,0.896,1.823,1.73,2.657c0.834,0.834,1.67,1.347,2.657,1.73c0.954,0.371,2.045,0.624,3.641,0.697C27.415,46.983,27.926,47,32,47s4.585-0.017,6.184-0.09c1.597-0.073,2.687-0.326,3.641-0.697c0.986-0.383,1.823-0.896,2.657-1.73c0.834-0.834,1.347-1.67,1.73-2.657c0.371-0.954,0.624-2.045,0.697-3.641C46.983,36.585,47,36.074,47,32S46.983,27.415,46.91,25.816z M44.21,38.061c-0.067,1.462-0.311,2.257-0.516,2.785c-0.272,0.7-0.597,1.2-1.122,1.725c-0.525,0.525-1.025,0.85-1.725,1.122c-0.529,0.205-1.323,0.45-2.785,0.516c-1.581,0.072-2.056,0.087-6.061,0.087s-4.48-0.015-6.061-0.087c-1.462-0.067-2.257-0.311-2.785-0.516c-0.7-0.272-1.2-0.597-1.725-1.122c-0.525-0.525-0.85-1.025-1.122-1.725c-0.205-0.529-0.45-1.323-0.516-2.785c-0.072-1.582-0.087-2.056-0.087-6.061s0.015-4.48,0.087-6.061c0.067-1.462,0.311-2.257,0.516-2.785c0.272-0.7,0.597-1.2,1.122-1.725c0.525-0.525,1.025-0.85,1.725-1.122c0.529-0.205,1.323-0.45,2.785-0.516c1.582-0.072,2.056-0.087,6.061-0.087s4.48,0.015,6.061,0.087c1.462,0.067,2.257,0.311,2.785,0.516c0.7,0.272,1.2,0.597,1.725,1.122c0.525,0.525,0.85,1.025,1.122,1.725c0.205,0.529,0.45,1.323,0.516,2.785c0.072,1.582,0.087,2.056,0.087,6.061S44.282,36.48,44.21,38.061z M32,24.297c-4.254,0-7.703,3.449-7.703,7.703c0,4.254,3.449,7.703,7.703,7.703c4.254,0,7.703-3.449,7.703-7.703C39.703,27.746,36.254,24.297,32,24.297z M32,37c-2.761,0-5-2.239-5-5c0-2.761,2.239-5,5-5s5,2.239,5,5C37,34.761,34.761,37,32,37z M40.007,22.193c-0.994,0-1.8,0.806-1.8,1.8c0,0.994,0.806,1.8,1.8,1.8c0.994,0,1.8-0.806,1.8-1.8C41.807,22.999,41.001,22.193,40.007,22.193z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/in/jinsol-y-46483b17a/" id="nav-linkedin" title="LinkedIn" class="social-links-link" target="_blank">
                            <svg class="SocialLinks-link-svg" viewBox="0 0 64 64">
                                <use class="SocialLinks-link-icon" xlink:href="#linkedin-unauth-icon">
                                    <svg id="linkedin-unauth-icon" viewBox="0 0 64 64">
                                        <path d="M20.4,44h5.4V26.6h-5.4V44z M23.1,18c-1.7,0-3.1,1.4-3.1,3.1c0,1.7,1.4,3.1,3.1,3.1 c1.7,0,3.1-1.4,3.1-3.1C26.2,19.4,24.8,18,23.1,18z M39.5,26.2c-2.6,0-4.4,1.4-5.1,2.8h-0.1v-2.4h-5.2V44h5.4v-8.6 c0-2.3,0.4-4.5,3.2-4.5c2.8,0,2.8,2.6,2.8,4.6V44H46v-9.5C46,29.8,45,26.2,39.5,26.2z"></path>
                                    </svg>
                                </use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main id="site-main" class="site-main">
            <div id="swup" class="transition-fade">

            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
            {{{body}}}

            </div>
        </main>

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-foot">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
        </footer>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script src="{{asset "built/swup.js"}}" data-swup-ignore-script></script>
    <script src="{{asset "built/infinitescroll.js"}}" data-swup-ignore-script></script>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <div id="swup">
        {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
        {{{block "scripts"}}}

        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </div>

    {{!-- Handle swup content replacement --}}
    <script data-swup-ignore-script>
        $(document).ready(function () {
            // Mobile Menu Trigger
            $('.nav-burger').click(function () {
                $('body').toggleClass('site-head-open');
            });
        });

        // Initiate Swup transitions
        var swup = new Swup({
            plugins: [new SwupHeadPlugin(), new SwupScriptsPlugin()],
        });
        document.addEventListener('swup:contentReplaced', event => {
            initInfiniteScroll(window, document);
            $('body').removeClass('site-head-open');
        });
    </script>

</body>
</html>
